<div class="card">
    <div class="card-section">
        <input class="form-input" placeholder="9999 9999 9999 9999">
        <label class="form-label">Card Number</label>
    </div>
    <div class="card-section">
        <input class="form-input" placeholder="John Doe">
        <label class="form-label">Cardholder Name</label>
    </div>
    <div class="exp-cvv">
        <div class="card-section">
            <input class="form-input" style="width: 60%;" placeholder="MM/YYYY">
            <label class="form-label" for="typeExp">Expiration</label>
        </div>
        <div class="card-section">
            <input class="form-input" style="width: 40%;" placeholder="CVV">
            <label class="form-label" for="typeExp">CVV</label>
        </div>
    </div>
</div>