.app-container {
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 100%;

    .login-component {
        width: 75%;
    }
    .registration-component {
        width: 100%;
        margin: 5%;
    }

    .edit-profile-component {
        width: 100%;
        margin: 5%;
    }

    .order-details-component {
        width: 50%;
    }

    .admin-portal-component {
        width: 100%;
    }

    .add-movie-component {
        width: 100%;
        margin: 5%;
    }

    .edit-movie-component {
        width: 100%;
        margin: 5%;
    }

    .checkout-component {
        width: 100%;
    }
}