<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Movie Booking</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
    </ul>
  </div>
</nav> -->

  <app-header *ngIf="!authService.isAuthenticated()"></app-header>
   <app-header-2 *ngIf="authService.isAuthenticated() && !authService.isAdmin()"></app-header-2>
   <app-header-3 *ngIf="authService.isAuthenticated() && authService.isAdmin()"></app-header-3>
  <!-- <app-order-details></app-order-details> -->
  <!-- <app-checkout></app-checkout> -->
  <router-outlet/>