<div class="app-container">
  <!-- <app-login class="login-component"></app-login> -->
  <!-- <app-registration class="registration-component"></app-registration> -->
  <app-edit-profile class="edit-profile-component"></app-edit-profile>
  <!-- <app-order-details class="order-details-component"></app-order-details> -->
  <!-- <app-admin-portal class="admin-portal-component"></app-admin-portal> -->
  <!-- <app-add-movie class="add-movie-component"></app-add-movie> -->
  <!-- <app-edit-movie class="edit-movie-component"></app-edit-movie> -->
   <!-- <app-checkout class="checkout-component"></app-checkout> -->
</div>
<router-outlet />
