<div class="order-summary-container">
  <div class="component-container">
    <h2>Movie Information</h2>
    <p><strong>Movie:</strong> {{ movieName }}</p>
    <p><strong>Theater:</strong> {{ show.theaterName }}</p>
    <p><strong>Date:</strong> {{ show.date | date: 'MM-dd-yyyy'}}</p>
    <p><strong>Time:</strong> {{ timeString }}</p>
  </div>
  <div class="component-container">
    <h2>Ticket Pricing</h2>
    <p><strong>Child Ticket:</strong> {{ prices.child | currency }}</p>
    <p><strong>Adult Ticket:</strong> {{ prices.adult | currency }}</p>
    <p><strong>Senior Ticket:</strong> {{ prices.senior | currency }}</p>
  </div>
  <div class="component-container">
    <h2>Ticket Information</h2>
    <p><strong>Children Tickets:</strong> {{ ticketInfo.children }} x {{ prices.child }}</p>
    <p><strong>Adult Tickets:</strong> {{ ticketInfo.adult }} x {{ prices.adult }}</p>
    <p><strong>Senior Tickets:</strong> {{ ticketInfo.senior }} x {{ prices.senior }}</p>
    <p><strong>Total Ticket Cost:</strong> {{ ticketTotal | currency }}</p>
    <div class="ticket-actions">
      <!-- <button (click)="addTicket()">Add Ticket</button>
      <button (click)="deleteTicket()">Delete Ticket</button> -->
      <button class="btn btn-primary" (click)="editBooking()">Edit Booking</button>
    </div>
  </div>
  <div class="component-container">
    <h2>Order Total</h2>
    <p><strong>Ticket Total:</strong> {{ ticketTotal | currency }}</p>
    <p><strong>Booking Fee:</strong> {{ bookingFee | currency }}</p>
    <p><strong>Sales Tax:</strong> {{ salesTax | currency }}</p>
    <p><strong>Total Cost:</strong> {{ totalCost | currency }}</p>
    <div class="ticket-actions">
      <button class="btn btn-primary" (click)="cancelOrder()">Cancel</button>
      <button class="btn btn-primary" (click)="proceedToCheckout()">Proceed to Checkout</button>
    </div>
  </div>
</div>
