<form class="edit-profile-form" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
  <div class="edit-profile-heading">
    <h2>Edit Profile</h2>
  </div>

  <div class="edit-profile-inputs-2">
    <div class="edit-profile-input-label">
      <label class="form-label">First Name<p style="color: red;">*</p></label>
      <input formControlName="firstName" class="edit-profile-input form-control" placeholder="First Name">
    </div>
    <div class="edit-profile-input-label">
      <label class="form-label">Last Name<p style="color: red;">*</p></label>
      <input formControlName="lastName" class="edit-profile-input form-control" placeholder="Last Name">
    </div>
    <div class="edit-profile-input-label">
      <label class="form-label">Phone Number<p style="color: red;">*</p></label>
      <input formControlName="mobileNo" class="edit-profile-input form-control" placeholder="Phone No.">
    </div>
  </div>

  <div class="edit-profile-inputs-2" style="justify-content: space-between;">
    <div class="pay-card">
      <label class="form-label">Add Payment</label>
      <!-- Use the safe navigation operator to ensure that paymentCards is not null -->
      <!--<app-payment-information [paymentCards]="editProfileForm.get('paymentCards') as FormArray"></app-payment-information> -->
      <app-payment-information [paymentCards]="paymentCards"></app-payment-information>

    </div>
  </div>

  <div class="edit-profile-inputs-2">
    <div class="edit-profile-input-label">
      <label class="form-label">Street Address<p style="color: red;">*</p></label>
      <input formControlName="address" class="edit-profile-input form-control" placeholder="Address">
    </div>
    <div class="edit-profile-input-label">
      <label class="form-label">City<p style="color: red;">*</p></label>
      <input formControlName="city" class="edit-profile-input form-control" placeholder="City">
    </div>
  </div>

  <div class="edit-profile-inputs-2">
    <div class="edit-profile-input-label">
      <label class="form-label">State<p style="color: red;">*</p></label>
      <input formControlName="state" class="edit-profile-input form-control" placeholder="State">
    </div>
    <div class="edit-profile-input-label">
      <label class="form-label">Zip Code<p style="color: red;">*</p></label>
      <input formControlName="zipcode" class="edit-profile-input form-control" placeholder="00000">
    </div>
  </div>

  <div class="receive-promos">
    <input formControlName="receivePromotions" class="form-check-input promo-checkbox" type="checkbox">
    <label class="form-check-label">
      Receive promotions
    </label>
  </div>

  <div class="edit-profile-inputs-2">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" style="background-color:blueviolet;" (click)="goToChange()">Change Password</button>
  </div>
</form>
