<div class="showtime-container">
  <div class="heading">
    <h2>Select Showtime for {{ movieName }}!</h2>
  </div>
  <label class="form-label" for="showtimeSelect">Choose a showtime:</label>
  <div class="showtimes" *ngIf="showtimes.length > 0; else noShowtimes">
    <select class="form-select" id="showtimeSelect" [(ngModel)]="selectedShowtime" (ngModelChange)="onShowtimeChange()">
      <option [ngValue]="null" [selected]="selectedShowtime === null">Please select a showtime</option>
      <option *ngFor="let showtime of showtimes" [ngValue]="showtime">
        {{ showtime.display }}
      </option>
    </select>
    <div class="details">
      <label class="form-label">You selected:</label>
      <p>{{ selectedShowtime?.display }}</p>
    </div>
    <button class="btn btn-primary" (click)="onNext()" [disabled]="!selectedShowtime">Next</button> <!-- Button is disabled if no showtime is selected -->
  </div>
  <ng-template #noShowtimes>
    <p>No showtimes available.</p>
  </ng-template>
</div>
