<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Welcome</a>
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="#" routerLink="/order-history">OrderHistory</a>
                </li>

              <li>
                <a href="#" routerLink="/edit-profile">Edit Profile</a>
              </li>
                <li>
                    <a href="#" routerLink="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
