<form class="registration-form">
    <div class="registration-heading">
        <h2>Registration</h2>

    </div>

    <div class="registration-inputs-2">
        <div class="reg-input-label">
            <label class="form-label">First Name<p style="color: red;">*</p></label>
            <input class="registration-input form-control" placeholder="First Name">
        </div>
        <div class="reg-input-label">
            <label class="form-label">Last Name<p style="color: red;">*</p></label>
            <input class="registration-input form-control" placeholder="Last Name">
        </div>
    </div>

    <div class="registration-inputs-2"> 
        <div class="reg-input-label">
            <label class="form-label">Email<p style="color: red;">*</p></label>
            <input class="registration-input form-control" placeholder="Email">
        </div>
        <div class="reg-input-label">
            <label class="form-label">Phone Number<p style="color: red;">*</p></label>
            <input class="registration-input form-control" placeholder="Phone No.">
        </div>
    </div>

    <div class="registration-inputs-2"> 
        <div class="reg-input-label">
            <label class="form-label">Password<p style="color: red;">*</p></label>
            <input class="registration-input form-control" placeholder="Password">
        </div>
        <div class="reg-input-label">
            <label class="form-label">Confirm Password<p style="color: red;">*</p></label>
            <input class="registration-input form-control" placeholder="Confirm Password">
        </div>
    </div>

    <label class="form-label">Payment Information (Optional)</label>
    <div class="payment">
        <div class="pay-card">
            <app-payment-information></app-payment-information>
            <button class="btn btn-primary add-card">Add Card</button>
        </div>
        <div class="pay-card">
            <app-payment-information></app-payment-information>
            <button class="btn btn-primary add-card">Add Card</button>
        </div>
        <div class="pay-card">
            <app-payment-information></app-payment-information>
            <button class="btn btn-primary add-card">Add Card</button>
        </div>
    </div>

    <div class="registration-inputs-2"> 
        <div class="reg-input-label">
            <label class="form-label">Street Address<p style="color: red;">*</p></label>
            <input class="registration-input form-control" placeholder="Address">
        </div>
        <div class="reg-input-label">
            <label class="form-label">City<p style="color: red;">*</p></label>
            <input class="registration-input form-control" placeholder="City">
        </div>
    </div>

    <div class="registration-inputs-2"> 
        <div class="reg-input-label">
            <label class="form-label">State<p style="color: red;">*</p></label>
            <input class="registration-input form-control" placeholder="State">
        </div>
        <div class="reg-input-label">
            <label class="form-label">Zip Code<p style="color: red;">*</p></label>
            <input class="registration-input form-control" placeholder="00000">
        </div>
    </div>

    <div class="sign-up-promos">
        <input class="form-check-input promo-checkbox" type="checkbox">
        <label class="form-check-label">
          Sign up for promotions
        </label>
    </div>

    <div class="register">
        <button class="btn btn-primary">Register</button>
    </div>
</form>
