<div class="container">
  <h2>Select Seat(s) for {{movieName}}!</h2>
  <div class="screen-label">
    <div class="screen">
      <label>Screen</label>
    </div>
  </div>
  <div class="seat-map">
    <div *ngFor="let row of rows" class="seat-row">
      <div *ngFor="let seat of row" class="seat-item">
        <label [ngClass]="seatStatus[seat]" [attr.title]="seatType[seat] ? seatType[seat] : 'Select seat type'">{{ seat }}</label>
        <select [disabled]="seatStatus[seat]==='booked'" [(ngModel)]="seatType[seat]" (change)="selectSeat(seat, seatType[seat])">
          <option value="">Select Type</option>
          <option value="Adult">Adult</option>
          <option value="Child">Child</option>
          <option value="Senior">Senior</option>
        </select>
      </div>
    </div>
  </div>

  <label class="form-label selectedSeats">Selected Seats: {{ selectedSeatNumbers }}</label>

  <button class="btn btn-primary" (click)="proceedToOrderSummary()">Proceed to Order Summary</button>
</div>
